/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 100%;
	min-height: 500px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #d6f5d6;
}

.error-message{
	color: red;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 5px 15px;
    margin-bottom: -1px;
    border: 1px solid gray;
    line-height: 1em;
}

#map{
	height: 100%;
	width: 100%;
}

.list-group-item.active {
	background-color: gray;
}

.clicked {
	background-color: green;
}